# Environnement TDC (TeCoX Digital Challenge)

# Clé secrète Django
DJANGO_SECRET_KEY=tdc-super-secret-key-tecox-2026-prod-xyz987654321
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=*

# Base de données PostgreSQL
POSTGRES_DB=tdc_db
POSTGRES_USER=tdc_user
POSTGRES_PASSWORD=tdc_password_2026

# URL Publique Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
